<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup">
            <section name="Full_modul.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection"
                     allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    
    <connectionStrings>
        <add name="DefaultConnection"
             connectionString=""
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Full_modul.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
        </Full_modul.Properties.Settings>
    </userSettings>
</configuration>