<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="СКБП.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="СКБП.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <СКБП.Properties.Settings>
            <setting name="FormPos" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </СКБП.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <СКБП.Properties.Settings>
            <setting name="DBconn" serializeAs="String">
                <value>Data Source=DESKTOP-TBLQV8A\SQLEXPRESS;Initial Catalog=calculator;Integrated Security=True;TrustServerCertificate=True</value>
            </setting>
        </СКБП.Properties.Settings>
    </applicationSettings>
</configuration>